/* {
    border: solid black .001px;
} */

body {
    font-family: "Gill Sans";
    overflow-x: scroll;
    position: relative;
    font-size: min(16px);
    font-weight: 200;
    letter-spacing: .2vh;
}
.navbar, .navbar-nav, 
.scrollspy, .card, .row, .col, [class*='col-'] {
    margin: 0; padding: 0; border: none;
}

/* nav nav nav nav nav */
.navbar {
    position: fixed;
    z-index: 1;
    background: white;
}

.navbar-nav {
    justify-content: space-between;
    padding: 3vh 0;
    font-weight: 100;
    color: rgba(0, 0, 0, 1);
    letter-spacing: .4vw;
    font-size: 2.5vh;
    opacity: 1;
}
.nav-link {
    opacity: .95;
}
/* nav nav nav nav nav */

.scrollspy {
    overflow: scroll;
    scroll-margin: 0;
    scroll-padding: 0;
    scroll-snap-type: y mandatory;
}
.card {
    border: none;
    scroll-margin: 0;
    scroll-padding: 0;
    scroll-snap-align: end;
    scroll-behavior: smooth;
}



#cornell, #totlPDV, #beetroot  {
    padding-bottom: 5vh;
}
#cornell, #totlPDV {
    padding-right: 3vw;
}
#designHead, #copyHead {
    font-weight: 500;
    color:rgba(84, 111, 146, 0.808);
}
#designHead {
    font-size: 6vh;
    letter-spacing: 1.4vw;
}
#copyHead {
    font-size: 6vh;
    letter-spacing: 1vw;
}
#subhead {
    font-size: larger;
    letter-spacing: .8vw;
}
#tdrImg {
    opacity: .8;
}
.email {
    padding-bottom: 5vh;
}
#rdt1 {
    letter-spacing: .65vw;
    float: left;
}
img.flow {
    opacity: .9;
}

/* XL XL XL XL XL XL XL XL XL XL XL XL */
/* XL XL XL XL XL XL XL XL XL XL XL XL */
@media (min-width: 1200px) {
    #logo {
        height: 10vh;
    }
    .navbar-nav {
        padding-left: 8.3vw;
        width: 91.7vw;
    }
    .nav-link {
        font-size: .95em;
        font-weight: 100;
    }
    #smallNav {
        display: none;
    }

    .home, .sites { padding-top: 40vh; }
    .copyEdit, .email { padding-top: 30vh; }

    .siteClient {
        float: right;
    }
    img.codeClient, img.flow, img.salt {
        padding-bottom: 5vh;
        float: right;
    }
    img.codeClient {width: 11vw;}
    img.flow {width: 17vw;}
    img.salt {width: 18vw;}
    
    #cornell, #totlPDV, #beetroot, #theoryImg, #clinImg, #tdrImg {
        width: 25vw;
        padding: 0 0 3vw 3vw;
    }

    .smDown {
        display: none;
    }
}
/* XL XL XL XL XL XL XL XL XL XL XL XL */
/* XL XL XL XL XL XL XL XL XL XL XL XL */


/* LG LG LG LG LG LG LG LG LG LG LG LG */
/* LG LG LG LG LG LG LG LG LG LG LG LG */
@media (min-width: 992px) and (max-width: 1199px) {
    #logo {
        height: 10vh;
    }
    .navbar-nav {
        padding-left: 7.5vw;
        width: 92vw;
    }
    .nav-link {
        font-size: .95em;
    }
    #smallNav {
        display: none;
    }

    .home, .sites, .copyEdit, .email {
        font-size: 1.1em;
    }

    .home, .sites { padding-top: 40vh; }
    .copyEdit, .email { padding-top: 30vh; }

    .siteClient {
        float: right;
    }
    img.codeClient, img.flow, img.salt {
        padding-bottom: 5vh;
    }
    img.codeClient { width: 10.5vw; }
    img.flow { width: 17.5vw; }
    img.salt { width: 17.5vw; }
    
    #cornell, #totlPDV, #beetroot, #theoryImg, #clinImg, #tdrImg {
        width: 25vw;
        padding: 0 0 3vw 3vw;
    }

    .smDown {
        display: none;
    }
}
/* LG LG LG LG LG LG LG LG LG LG LG LG */
/* LG LG LG LG LG LG LG LG LG LG LG LG */


/* MD MD MD MD MD MD MD MD MD MD MD MD */
/* MD MD MD MD MD MD MD MD MD MD MD MD */
@media (min-width: 768px) and (max-width: 991px) {
    #logo {
        height: 7.5vh;
    }
    .navbar-nav {
        padding-left: 7.5vw;
        width: 92vw;
    }
    .nav-link {
        font-size: .95em;
    }
    #smallNav {
        display: none;
    }

    .home, .sites { padding-top: 40vh; }
    .copyEdit, .email { padding-top: 25vh; }
    .siteClient {
        float: right;
    }

    .home, .sites, .copyEdit, .email {
        font-size: .95em;
    }

    img.codeClient, img.flow, img.salt {
        padding-bottom: 3.5vh;
    }
    img.codeClient { width: 12.5vw; }
    img.flow { width: 25vw; }
    img.salt { width: 25vw; }


    #cornell, #totlPDV, #beetroot, #theoryImg, #clinImg, #tdrImg {
        width: 27.5vw;
        padding: 0 0 3vw 3vw;
    }

    .smDown {
        display: none;
    }
}
/* MD MD MD MD MD MD MD MD MD MD MD MD */
/* MD MD MD MD MD MD MD MD MD MD MD MD */


/* SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
/* SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
@media (min-width: 576px) and (max-width: 767px) {
    #logo {
        height: 7.5vh;
    }
    .navbar-nav {
        padding-left: 8.3vw;
        width: 91.25vw;
    }
    .nav-link {
        font-size: .85em;
    }
    #smallNav {
        display: none;
    }

    .home, .sites { padding-top: 35vh; }
    .copyEdit, .email { padding-top: 20vh; }

    .home, .sites, .copyEdit, .email {
        font-size: .85em;
    }
    
    .siteClient {
        float: left;
    }
    img.codeClient, img.flow, img.salt {
        padding-bottom: 5vh;
    }
    img.codeClient { width: 18vw; }
    img.flow { width: 24vw; }
    img.salt { width: 28vw; }

    #cornell, #totlPDV, #beetroot, #theoryImg, #clinImg, #tdrImg {
        width: 16vw;
    }
    #cornell, #totlPDV, #beetroot {
    padding: 7.5vw 3vw 0 0; }
    #theoryImg, #clinImg, #tdrImg {
    padding: 0 3vw 0 0; }
    
    
.mdUp {display: none}

}
/* SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
/* SSSSSSSSSSSSSSSSSSSSSSSSSS5SSSSSSSSS */


/* XS XS XS XS XS XS XS XS XS */
/* XS XS XS XS XS XS XS XS XS */
@media (max-width: 575px) {
    #logo {
        width: 10vw;
    }
    .navbar-nav {
        padding-left: 8vw;
        width: 91vw;
    }  
    #bigNav {
        display: none;
    } 
    .nav-link {
        font-size: .85em;
    }
    .home, .sites { padding-top: 20vh; }
    .copyEdit, .email { padding-top: 15vh; }

    .home, .sites, .copyEdit, .email {
        font-size: .85em;
    }


    img.codeClient, img.flow, img.salt {
        padding-bottom: 3.5vh;
    }
    img.codeClient { width: 30vw; }
    img.flow { width: 35vw; }
    img.salt { width: 41vw; }

    #cornell, #totlPDV, #beetroot, #theoryImg, #clinImg, #tdrImg {
        width: 25vw;
    }
    #cornell, #totlPDV, #beetroot {
    padding: 7.5vw 3vw 0 0; }
    #theoryImg, #clinImg, #tdrImg {
    padding: 0 3vw 0 0; }

    .email {
        padding-bottom: 5vh;
    }
    #rdt1 {
        font-size: 1em;
    }

    .mdUp {
        display: none;
    }

}
/* XS XS XS XS XS XS XS XS XS XS XS XS */
/* XS XS XS XS XS XS XS XS XS XS XS XS */