/* {
    border: solid black .001px;
}*/
body {
    font-family: "Gill Sans";
    overflow-x: scroll;
    position: relative;
}
.navbar-nav .nav-link.active {
    color: red !important;
}
.navbar, .navbar-nav, 
.scrolling-wrapper, .card, .container-fluid, .row, .col, [class*='col-'] {
    margin: 0; padding: 0; border: none;
}
.scrolling-wrapper, .card, .container-fluid, .row, .col, [class*='col-'] {
    height: 100vh;
}
.scrolling-wrapper {
    position: relative;
}
/* nav nav nav nav nav */
.navbar {
    position: fixed;
    z-index: 1;
    background: white;
}
.navbar a {
    color: rgba(0, 0, 0, 1);
    letter-spacing: .3vw;
    font-size: 3vh;
    opacity: 1;
}
.navbar-nav {
    justify-content: space-between;
    padding: 3vh 0;
    font-weight: 100;
}

/* nav nav nav nav nav */

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-margin: 0;
    scroll-padding: 0;
    width: 100vw;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.card {
    display: inline-block;
    overflow-y: hidden; 
    overflow-x: auto;
    width: 100vw;
    border:none;
    scroll-margin: 0;
    scroll-padding: 0;
    scroll-snap-align: end;
}

#flexEnd  {
    display: flex;
    align-items: flex-end;
    padding-bottom: 17.5vh;
}
#design {
    background: url("");
    background-position: 0 0;
    background-size: cover;
}
#coffee {
    background: url("");
    background-position: 0 0;
    background-size: cover;
}
#contact {
    background: url("");
    background-position: 0 0;
    background-size: cover;
}
img#pdv, img#timeline {
    max-height: 70vh;
    width: auto;
}
#imgTxt {
    font-weight: 200;
    letter-spacing: .2vh;
}

/* prev next */
/* prev next */
#fwd {
    position: absolute;
    top: 45%;
    left: -1vw;
}
#prev {
    position: absolute;
    top: 45%;
    right: -1vw;
}
img.next, img.prev {
    height: 4vh;
    opacity: .45;
}

img.rdt1 {
    position: absolute;
    right: 0;
    bottom: 17.5vh;
}

/* XL XL XL XL XL XL XL XL XL XL XL XL */
/* XL XL XL XL XL XL XL XL XL XL XL XL */
@media (min-width: 1200px) {
    .navbar-nav {
        padding-left: 16.75vw;
        width: 83vw;
    }
    #nav {
        font-size: 1.75vw;
        font-weight: 100;
    }
    #small {
        display: none;
    }
    img.design {
        width: 30vw;
        padding-left: 11vw;
    }
    img.white {
        width: 45vw;
        padding-left: 22.5vw;
    }
    img.bmz {
        width: 45vw;
        padding-left: 25vw;
    }
    #imgTxt {
        padding-left: 3vw;  
        font-size: 2.25vh;
        }
    #ghost {
        font-size: 1.2vw;
        letter-spacing: .075vw;
        line-height: .65vh;
    }
    img.rdt1 {
        width: 40vw;
    }
}
/* XL XL XL XL XL XL XL XL XL XL XL XL */
/* XL XL XL XL XL XL XL XL XL XL XL XL */


/* LG LG LG LG LG LG LG LG LG LG LG LG */
/* LG LG LG LG LG LG LG LG LG LG LG LG */
@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-nav {
        padding-left: 8.3vw;
        width: 91.45vw;
    }
    #nav {
        font-size: 1.2em;
    }
    #small {
        display: none;
    }
    img.design {
        width: 35vw;
        padding-left: 14vw;
    }
    img.white {
        width: 50vw;
        padding-left: 30vw;
    }
    img.bmz {
        width: 50vw;
        padding-left: 32.5vw;
    }
    #ghost {
        font-size: 1.35vw;
        letter-spacing: .075vw;
        line-height: .65vh;
    }
    #imgTxt {
        padding-left: 3vw;  
        font-size: 2.25vh;
    }
    img.rdt1 {
        width: 45vw;
    }
}
/* LG LG LG LG LG LG LG LG LG LG LG LG */
/* LG LG LG LG LG LG LG LG LG LG LG LG */


/* MD MD MD MD MD MD MD MD MD MD MD MD */
/* MD MD MD MD MD MD MD MD MD MD MD MD */
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-nav {
        padding-left: 8.3vw;
        width: 91.25vw;
    }
    #small {
        display: none;
    }
    #ul {
        width: 100vw;
    }

    img.design {
        width: 40vw;
        padding-left: 14vw;
    }
    img.white {
        width: 55vw;
        padding-left: 30vw;
    }
    img.bmz {
        width: 55vw;
        padding-left: 31vw;
    }
    #imgTxt {
        padding-left: 3vw;  
        font-size: 2.5vh;
    }
    img.rdt1 {
        width: 50vw;
    }
}
/* MD MD MD MD MD MD MD MD MD MD MD MD */
/* MD MD MD MD MD MD MD MD MD MD MD MD */


/* SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
/* SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
@media (min-width: 576px) and (max-width: 767px) {
    .navbar-nav {
        padding-left: 8.3vw;
        width: 91.25vw;
    }
    #nav {
        font-size: 3vw;
    }
    #small {
        display: none;
    }
    img.design {
        width: 50vw;
        padding-left: 14vw;
     }
     img.white {
        width: 70vw;
        padding-left: 30vw;
    }
    img.bmz {
        width: 67.5vw;
        padding-left: 31vw;
    }
    #imgTxt {
        padding-left: 3vw;  
        font-size: 2.5vh;
    }
    img.rdt1 {
        width: 60vw;
    }
}
/* SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
/* SSSSSSSSSSSSSSSSSSSSSSSSSS5SSSSSSSSS */


/* XS XS XS XS XS XS XS XS XS */
/* XS XS XS XS XS XS XS XS XS */
@media (max-width: 575px) {
    .navbar-nav {
        padding-left: 8vw;
        width: 91vw;
    }  
    #big {
        display: none;
    } 
    #icon {
        height: 3.5vh;
        opacity: .45;
    }
    img.datar {
        width: 45vw;
    }
    img#pdv {
        height: 50vh;
        width: auto;
    }
    #imgTxt {
        padding-left: 3vw;  
        font-size: 1.85vh;
    }
    img.white {
        width: 70vw;
        padding-left: 28vw;
    }
    img.bmz {
        width: 67.5vw;
        padding-left: 30vw;
    }
    img.design {
        width: 45vw;
        padding-left: 12vw;
    }
    img.rdt1 {
        width: 65vw;
    }
}
/* XS XS XS XS XS XS XS XS XS XS XS XS */
/* XS XS XS XS XS XS XS XS XS XS XS XS */