/* {
    border: solid black .01px;
}*/
body {
    font-family: "Gill Sans";
    position: relative;
}
.container-fluid, .row, .col {
    margin: 0; padding: 0;
}
#header {
    letter-spacing: .125em;
}
#headline {
    font-family: "IBM Plex Serif Medium";
    font-style: bold;
    font-size: 3em;
    letter-spacing: none;
}
/* nav */
.navbar {
    width: 100vw;
    /*position: fixed;*/
    z-index: 1;
}
.navbar a {
    font-weight: 100;
    letter-spacing: .3vw;
}
.navbar-nav .nav-link.active {
    font-weight: 500;
    color: rgb(68, 68, 68) !important;
}

#ul {
    /*background: url("wideROBERT.webp");
    background-repeat: no-repeat;*/
    display: flex;
    justify-content: space-between;
}
/* nav */

#goto {
        display: block; 
}
#line {
    letter-spacing: .109em;
    line-height: 1.1em;
    margin-bottom: 1.25vh;
}
h1 {
    color: rgb(228, 228, 228);
    font-weight: 600;
    letter-spacing: .1em;
}
#position {
    font-size: 1.2em;
    letter-spacing: .15em;
    line-height: 2.8vh;
    padding-bottom: .8vh;
}
#place {
    color: rgb(151, 151, 151);
    font-size: 1em;
    letter-spacing: .15em;
    line-height: 2.5vh;
    padding-bottom: 1vh;
    padding-top: 0;
}
#bottom {
    padding-bottom: 25vh;
}

/* XL XL XL XL XL XL XL XL XL XL XL XL */
/* XL XL XL XL XL XL XL XL XL XL XL XL */
@media (min-width: 1200px) {
    .navbar {
        padding: 0 17.5vw;
    }
    #ul {
        padding: 0;
        width: 100vw;
        background-size: 67vw;
    }
    #nav {
        font-size: 1em;
    }
    #skill {
        padding-top: 10vh;
    }
    #goto {
        margin-top: 15vh; 
        font-size: 1.3em;
        letter-spacing: .06em;
    }

    #copy, #print, #school, #volunteer, #contact {
        margin-top: -10vh;
    }
}
/* XL XL XL XL XL XL XL XL XL XL XL XL */
/* XL XL XL XL XL XL XL XL XL XL XL XL */


/* LARGE LARGE LARGE LARGE LARGE LARGE */
/* LARGE LARGE LARGE LARGE LARGE LARGE */
@media (min-width: 992px) and (max-width: 1199px) {
    .navbar {
        padding: 0 17.75vw;
    }
    #ul {
        padding: 3.75vh 0;
        width: 100vw;
        background-size: 65vw;
    }
    #nav {
        font-size: 1.2em;
    }
    #skill {
        padding-top: 10vh;
    }
    #goto {
        margin-top: 15vh; 
    }
    #copy, #print, #school, #volunteer, #contact {
        margin-top: -10vh;
    }
}
/* LARGE LARGE LARGE LARGE LARGE LARGE */
/* LARGE LARGE LARGE LARGE LARGE LARGE */


/* MED MED MED MED MED MED MED MED MED */
/* MED MED MED MED MED MED MED MED MED */
@media (min-width: 768px) and (max-width: 991px) {
    .navbar {
        padding: 0 18vw;
    }
    #ul {
        padding: 2.5vh 0;
        width: 100vw;
        background-size: 64vw;
    }
    #nav {
        font-size: 1.1em;
    }
    #skill {
        padding-top: 2.5vh;
    }
    #goto {
        margin-top: 15vh; 
    }
    #copy, #print, #school, #volunteer, #contact {
        margin-top: -10vh;
    }
}
/* MED MED MED MED MED MED MED MED MED */
/* MED MED MED MED MED MED MED MED MED */


/* SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
/* SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
@media (min-width: 576px) and (max-width: 767px) {
    .navbar {
        padding: 0 2vw;
    }
    #ul {
            padding: 3.25vh 0;
            width: 100vw;
            background-size: 97vw;
    }
    #nav {
        font-size: 1.1em;
    }
    #skill {
        padding-top: 5vh;
    }
    #goto {
        margin-top: 10vh; 
    }
    #copy, #print, #school, #volunteer, #contact {
        margin-top: -10vh;
    }
}
/* SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
/* SSSSSSSSSSSSSSSSSSSSSSSSSS5SSSSSSSSS */


/* XS XS XS XS XS XS XS XS XS */
/* XS XS XS XS XS XS XS XS XS */
@media (max-width: 575px) {
    .navbar {
        padding: 0 3vw;
    }
    #ul {
        padding: 2.5vh 0;
        width: 100vw;
        background-size: 97vw;
    }
    #nav {
        font-size: .9em;
    }
    #skill {
        padding-top: 3.5vh;
    }
    #goto {
        margin-top: 7vh; 
    }
    #position, #place {
        line-height: 3.5vh;
    }

    #copy, #print, #school, #volunteer, #contact {
        margin-top: -9vh;
    }
}
/* XS XS XS XS XS XS XS XS XS */
/* XS XS XS XS XS XS XS XS XS */
